# taruh di /etc/systemd/system
# systemctl daemon-reload
# systemctl enable gate_out
# systemctl start gate_out

[Unit]
Description=Gate Out controller service
Requires=network.target

[Service]
User=root
ExecStart=/home/serverop/apps/barrier-gate/gate_out.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
